body .create-form {
    margin-bottom: 40px;
}

body .create-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .create-form > * {
    padding: 20px 0;
}

body .create-form .img-editor-container {
    border: #555 dashed 3px;
    height: 400px;
    width: 80%;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}

body .create-form .img-editor-container p, body .create-form .img-editor-container .img-view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body .create-form .img-editor-container img {
    height:100%;
    width:auto;
}

body .create-form .img-editor-container .disabeled-file-input {
   visibility: hidden;
}

body .create-form .form-horizontal {
    width:80%;
}

body .create-form .form-horizontal input, body .create-form .form-horizontal select,
body .create-form .form-horizontal option, body .create-form .form-horizontal textbox {
    color: black;
}

body .create-form .form-horizontal textarea {
    resize: vertical;
}

body .submit-button {
    display:flex;
    justify-content:center;
}

body .submit-button input{
    font-size: 20px;
}

body .return-link a {
    margin-top: 10px;
    font-size: 30px;
}

body .color-list {
    display: flex;
    justify-content: center;
}

body .color-list > div {
    width: 30px;
    height: 30px;
    border: white solid 3px;
    margin: 0 10px;
}

body .micro-img {
    width: 80px;
    overflow:hidden;
}

body .centered-div {
    display:flex;
    flex-direction:column;
    align-items:center;
}

body .content .search {
    width:100%;
}

body .content .search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body .content .search input, body .content .search select {
    height: 30px;
}

body .content .search div {
    margin: 0 10px;
}

body .content .create-link a{
    font-size: 20px;
}

body .content .create-link {
    padding: 2px 0;
}

body .content .table tr td {
    vertical-align: baseline;
}

body .create-form form {
    width:100%;
}

body .container .disabled-border {
    border:none;
}

body .purchases-header {
    margin-top: 10px;
}

body .purchases-header .site-name {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83CAFC;
}

body .purchases-header a {
    height: 100%;
    display: flex;
    align-items: center;
}

body .purchases-header .site-nav-bar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    background-color: #0a0a0a;
}

body .edit-form .small-list {
    width: 100px;
    height: 35px;
}

body .edit-form .small-list option {
    height: 35px;
}

body .container .edit-good-in-cart {
    width: 100%;
}

body .container .edit-good-in-cart .form-horizontal{
    width: 100%;
}

body .container .edit-good-in-cart form {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
body .container .edit-good-in-cart .edit-form {
    display:flex;
    flex-direction: column;
    align-items: center;
}
body .container .edit-good-in-cart .edit-good-in-cart-lists {
    display:flex;
    justify-content: center;
}

body .container .edit-good-in-cart .edit-good-in-cart-lists > * {
    margin: 10px;
}

body .edit-link {
    font-size: 20px;
}

body .purchase-details {
    font-size:20px
}

body .save-link {
    margin: 10px 0;
}

body .purchase-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .purchase-form .form-group {
    width: 450px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

    body .purchase-form .form-group .control-label {
        width: auto;
        text-align: left;
    }

body .purchase-form .form-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .purchase-form .submit-button {
    width: 200px;
    margin: 10px 0;
}

body .container .order-info {
    padding: 0;
}
