@{
    ViewBag.Title = "Питання-відповідь";
}

<div class="about-page">
    <h1 class="centered">Питання які найчастіше задають:</h1>
    <br />
    <h2><b>КОНТАКИ</b></h2>
    <p>
        Номер телефона: 0 (98) 707 38 70.
    </p>
    <p>
        За ним можна написати у Telegram або Viber.
    </p>
    <p>
        Також існує електорнна пошта: kobernikdasa5@gmail.com.
    </p>
    <br />
    <h2><b>ЯК ДОГЛЯДАТИ ЗА КАСТОМНОЮ РІЧЧЮ?</b></h2>

    <p>
        Якісний розпис на текстилі гарантує збереження насиченості фарб протягом тривалого періоду.
        Щоб картинка не «потріскалася» і не деформувалася,
        необхідно пам'ятати про правила прання такого одягу:
    </p>

    <ul>
        <li>Використовуйте температурний режим для прання не більше 40°. </li>
        <li>Не застосовуйте віджимання з великим числом обертів барабана. </li>
        <li>Кольорові речі періть порошком для кольорової білизни, а білі - для білої. </li>
        <li>Перед пранням виверніть одяг з малюнком навиворіт. </li>
        <li>Використовуйте делікатний режим. </li>
        <li>Обережно розвішуйте вироби. </li>
        <li>Уникайте використання відбілювачів, засобів для виведення плям і інших висококонцентрованих хімічних засобів. </li>
        <li>Прасуйте одяг з виворітнього боку або малюнок варто накрити додатковою тканиною. </li>
    </ul>
    <br />
    <h2><b>ЯК МОЖНА СПЛАТИТИ ЗАМОВЛЕННЯ?</b></h2>

    <p>
        Існує 2 методи оплати придбаного товару:
    </p>
    <ul>
        <li>післяплатою, при отриманні у відділенні “Нової пошти”</li>
        <li>після зв’язку з менеджером, який відправить усі потрібні реквізити для оплати.</li>
    </ul>
    <p>
        <b>Зверніть увагу:</b> якщо Вам зручно отримати товар післяплатою, треба сплатити комісію у розмірі 20 грн, за грошовий переказ і додати в загальну суму замовлення 2%. Це відбувається згідно з вимогами транспортної компанії “Нова пошта”.
    </p>
    <br />
    <h2><b>КУДИ ЗДІЙСНЮЄТЬСЯ ДОСТАВКА?</b></h2>
    <p>
        Інтернет-магазин виконує доставку одягу по усій Україні. Доставка і оплата – Україна.
    </p>
    <p><b>Доставка:</b></p>
    <ul>
        <li>Нова Пошта</li>
        <li>УкрПошта</li>
    </ul>
    <p>
        Отримати замовлення Ви можете у будь-якому найближчому відділенні транспортної компанії Нова пошта або замовити кур’єрську доставку за вказаною Вами адресою. Цей вид доставки оплачується по тарифах Нової пошти.
    </p>
    <p>
        Якщо Ви обрали сплатити замовлення за допомогою післяплати, з Вас буде узята комісія у розмірі 20 грн, що стягується за грошовий переказ, а також 2% загальної суми замовлення (Тарифи нової пошти).  Ми відправляємо по передплаті 100 грн.
    </p>
    <p>
        Середній термін доставки посилки по Україні – 1-3 дні.
    </p>
    <p>
        Детальнішу інформацію Ви можете уточнити у нашого менеджера.
    </p>

    <br />
    <h2><b>ПРАВИЛА ПОВЕРНЕННЯ ТА ОБМІНУ</b></h2>
    <p>Якщо з яких-небудь причин Вам не підійшло замовлення, Ви можете повернути купівлю протягом 14 календарних днів з дня отримання товару, за умови, якщо:</p>
    <ul>
        <li>товар не був у використанні/вживанні;</li>
        <li>збережений товарний вид, споживчі властивості, ярлики.</li>
    </ul>
    <p><b>Щоб повернути товар:</b></p>
    <ol>
        <li>Повідомте нас про бажання оформити повернення</li>
        <li>Instagram, telegram, viber або по номеру 0 (98) 707 38 70 </li>
        <li>Відправте товар за адресою вказаному в транспортній накладній або уточніть у менеджера усі дані</li>
        <li>Повідомте реквізити карти для повернення суми</li>
        <li>Термін повернення грошових коштів – до 10 календарних днів з дати надходження поверненого товару</li>
    </ol>
    <p><b>Щоб обміняти товар:</b></p>
    <ol>
        <li>Відправте товар за адресою вказаному в транспортній накладній або уточніть у менеджера усі дані</li>
        <li>Повідомте нам модель і розмір на який хочете здійснити обмін</li>
        <li>Комплектація замовлення на обмін здійснюється після отримання повернення від Вас.</li>
        <li>У разі, якщо Вам прийшла не та модель (розмір, колір), який Ви замовили, ми оплачуємо витрати за пересилку повернення. Якщо розмір на товарі вказаний виробником такий, як Ви замовили, але товар не підійшов – пересилку повернення покупець оплачує сам.</li>
    </ol>
    <br />
    <br />
</div>