@model IEnumerable<CustomShop.Models.Size>

@{
    ViewBag.Title = "Головна";
}

<hr />

<div class="main-info">

    <p class="centered">Магазин заснований в 2022 році творчою людиною, яка поєдналиа стиль і зручність.</p>

    <p class="centered">Речі створюються для молодих людей, що стороняться стереотипів, люблять комфорт, якість і вибирають “залишатися собою”.</p>

    <p class="centered">Цей одяг для сучасної аудиторії, що живе в потоці інформації і вільної від громадських рамок.</p>
    <p class="centered">Кожна річ виготовлена з високоякісних матеріалів.</p>

    <p class="centered">Речі розраховані для чоловіків і жінок, хлопців і дівчат, хлопчиків і дівчаток! Для усіх, хто вибирає індивідуальність і свободу.</p>
</div>
<hr />
<img class="banner-adaptive" src="~/Content/img/46.png" />
<img class="banner" src="~/Content/img/47.png" />
<hr />
