@{
    ViewBag.Title = "Товари";
}

<center>
    <div class="good-grid-box">
        <div class="good-box new">
            <div class="good-img">
                <div class="new-text">Новинка!</div>
                <img src="..\..\Content\123.jpg">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\312.png">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\123.jpg">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\312.png">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\123.jpg">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\312.png">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\123.jpg">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\312.png">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>

        <div class="good-box">
            <div class="good-img">
                <img src="..\..\Content\123.jpg">
            </div>

            <div class="info-about-good">
                <p><b>Text (232x23)</b></p>
                <p class="price"><b>1223.00$</b></p>
            </div>

        </div>


    </div>
</center>